@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

div.wrapper {
    font-family: 'Poppins', sans-serif;
    margin-left: auto;
    margin-right: auto; 
}

/* footer styling */
footer {
  background-color: RGB(54,174,216);
  overflow: hidden;
}

button.btn {
  background-color: white;
  border-radius: 0;
  color: black;
  font-weight: bold;
  border: 1px solid darkgrey;
}

button.btn:hover {
  background-color: lightgrey;
}

ul.footer {
  margin: 0px;
  padding: 0px;
  text-align: left;
}

ul.footer li {
  list-style-type: none;
  padding-bottom: 10px;
}

ul.footer li a{
  text-decoration: none;
  color: white;
  margin-left: 20px;
}

ul.footer li a:hover{
  color: black;
}

img.footer {
padding-left: 20px;
padding-right: 0px;
}


footer div.call {
  padding-top: 5px;
  height: 40px;
}

.padding-0{
    padding-right:0;
    padding-left:0;
    text-align: left;
}


/* content styling */
.content-cubes {
  margin-left: auto;
  margin-right: auto;
}

.item {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 300px;
  text-align: center;
  margin: 20px;
}

.item a {
  color: RGB(54,174,216);
}

.item:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.item img {
  max-width: 290px;
}

.responsive {
  width: 100%;
  height: auto;
}


td.space {
  width: 20px;
}

.end {
  text-align: center;
}
 
.mobile {
  display: none;
}

table {
  margin-right: 20px;
  margin-left: 20px;
}






































/* pages styling */
.home-pages {
    height: 50vh;
    background-image: url(images/jumbopages.png);
    background-position: center top;
    background-size:cover;
    border-bottom: 1px solid lightgrey;
}

section.home-pages div.title {
  position: absolute;  
  color: rgb(56, 56, 56);
  font-weight: bold;
  top: 20%;
  text-align: center;
  width: 100%;
  padding: 0;
}

div.title h1 {
  font-size: 6rem;
  text-shadow: 2px 2px #5eafcc;
}

div.title button {
  box-shadow: 1px 1px 1px #36aed8;
  border: white;
  color: rgb(56, 56, 56);
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 10px;
  padding-left: 10px;

}

div.title button:hover {
  color: #36aed8;
  background-color: white;
  box-shadow: 3px 3px 3px #36aed8;
}


/* about section */
#about-content {
  text-align: center;
}

div.icons {
  width: 65%;
}

#about-content h2 {
  font-size: 2.5em;
}

#about-content img {
  margin-bottom: 20px;
}

#about-content div.col-sm-4 {
  font-size: .8em;
}

#about-content p.icon {
display:inline-block;
}

div#accordion {
  margin-left: auto;
  margin-right: auto;
  font-size: .6em;
  width: 40vw;
} 

p.learnMore {
  width: 50vw;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.2em;
}

div.panel-body {
  font-size: 1.6em;
}

div.panel-default {
  text-align: left;
}

#about-content a.nostyle {
  color: #36aed8;
}

div.panel-heading {
  background-color: aliceblue;
  border: 1px solid lightgrey;
  padding: 10px;
  padding-top: 15px;
}

/* blockquote styling */
blockquote {
  background: #f9f9f9;
  border-left: 10px solid #36aed8;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  width: 40vw;
  margin-left: auto;
  margin-right: auto;
}
blockquote:before {
  color: #36add848;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}















/* media queries */
@media screen and (max-width:750px) {

  .HM {
    font: #000000;
    display: none;
  }

  section.content {
    display: none;
  }

  section.mobile {
    text-align: center;
  }

  .space {
    display: none;
  }


  .mobile {
    display: initial;
  }

  div.center {
    text-align: center;
  }

  p.mobile {
    font-weight: bold;
    color: white;
  }

  footer {
    background-color: black;
  }

div#accordion {
  margin-left: auto;
  margin-right: auto;
  font-size: .4em;
  width: 90vw;
} 

p.learnMore {
  font-size: 1em;
}

div.panel-body {
  font-size: 2em;
}
}