@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

div.wrapper {
    font-family: 'Poppins', sans-serif;
    margin-left: auto;
    margin-right: auto; 
}


/* footer styling */
footer {
  background-color: RGB(54,174,216);
  overflow: hidden;
}

button.btn {
  background-color: white;
  border-radius: 0;
  color: black;
  font-weight: bold;
  border: 1px solid darkgrey;
}

button.btn:hover {
  background-color: lightgrey;
}

ul.footer {
  margin: 0px;
  padding: 0px;
  text-align: left;
}

ul.footer li {
  list-style-type: none;
  padding-bottom: 10px;
}

ul.footer li a{
  text-decoration: none;
  color: white;
  margin-left: 20px;
}

ul.footer li a:hover{
  color: black;
}

img.footer {
padding-left: 20px;
padding-right: 0px;
}

footer div.call {
  padding-top: 5px;
  height: 40px;
}

.padding-0{
    padding-right:0;
    padding-left:0;
    text-align: left;
}


/* content styling */
.content-cubes {
  margin-left: auto;
  margin-right: auto;
}

.item {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 300px;
  text-align: center;
  margin: 20px;
}

.item a {
  color: RGB(54,174,216);
}

.item:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.item img {
  max-width: 290px;
}

.responsive {
  width: 100%;
  height: auto;
}


td.space {
  width: 20px;
}

.end {
  text-align: center;
}
 
.mobile {
  display: none;
}

table {
  margin-right: 20px;
  margin-left: 20px;
}



/* pages styling */
.home-pages {
    height: 50vh;
    background-image: url(images/jumbopages.png);
    background-position: center top;
    background-size:cover;
    border-bottom: 1px solid lightgrey;
}

section.home-pages div.title {
  position: absolute;  
  color: rgb(56, 56, 56);
  font-weight: bold;
  top: 20%;
  text-align: center;
  width: 100%;
  padding: 0;
}

div.title h1 {
  font-size: 6rem;
  text-shadow: 2px 2px #5eafcc;
}

div.title button {
  box-shadow: 1px 1px 1px #36aed8;
  border: white;
  color: rgb(56, 56, 56);
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 10px;
  padding-left: 10px;

}

div.title button:hover {
  color: #36aed8;
  background-color: white;
  box-shadow: 3px 3px 3px #36aed8;
}






/* about section */
h4.modal-title {
  margin-left: auto;
  margin-right: auto;
}

#about-content {
  text-align: center;
}

div.icons {
  width: 65%;
}

#about-content h2 {
  font-size: 2.5em;
}

#about-content img {
  margin-bottom: 20px;
}

#about-content div.col-sm-4 {
  font-size: .8em;
}

#about-content p.icon {
display:inline-block;
}

p.learnMore {
  width: 50vw;
  margin-left: auto;
  margin-right: auto;
  font-size: 1em;
}

#about-content a.nostyle {
  color: #36aed8;
}



span.bold {
  font-weight: bold;
}



/* blockquote styling */
blockquote {
  background: #f9f9f9;
  border-left: 10px solid #36aed8;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  width: 40vw;
  margin-left: auto;
  margin-right: auto;
}
blockquote:before {
  color: #36add848;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}



/* inventory styling */
.sidenav {
  width: 15%;
  position: fixed;
  z-index: 1;
  top: 15%;
  left: 10px;
  background: aliceblue;
  overflow-x: hidden;
  padding: 8px 0;
}

.sidenav a {
  padding: 2px 8px 20px 16px;
  color: black;
  display: block;
  font-size: 1.1em;
  text-decoration: underline;
}

.sidenav a:hover {
  color: #36add8;
}

.sidenav p {
  font-weight: bold;
}

#inventory-content {
  margin-left: 20%; 
  margin-right: 5%;
  padding: 0px 10px;
  text-align: center;
}

#inventory-content h1 {
  font-size: 3.5em;
  text-shadow: 2px 2px #5eafcc;
  text-align: center;
}



/* information styling */

#information-content h1 {
  font-size: 3.5em;
  text-shadow: 2px 2px #5eafcc;
  text-align: center;
}

#information-content a.nostyle {
  color: #36aed8;
}

.bold {
  font-weight: bold;
}

.special {
  text-decoration: underline;
  font-size: 1.1em;
}

.head {
  font-size: 1.2em;
}

div.mail {
  font-style: italic;
  background-color: aliceblue;
  font-size: .8em;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 5px;
  padding-bottom: 1px;
  width: 50vw;
  box-shadow: 1px 1px 1px #36aed8;;

}

/* supplies styling */
#inventory-content-supplies h1 {
  font-size: 3.5em;
  text-shadow: 2px 2px #5eafcc;
  text-align: center;
}



/* accordion styling */
.accordion .card-header:after {
    font-family: 'FontAwesome';  
    content: "\f068";
    float: right; 
}
.accordion .card-header.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\f067"; 
}

.card-body {
  text-align: left;
}

.card-header {
  text-align: left;
}

.card {
  border: none;
  margin-left: auto;
  margin-right: auto;
}

#about-content .card {
  width: 90vw;
}


/* contact styling */

#contact {
  box-sizing: border-box;

}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #36add8;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #36add8;
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.contact-container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 70vw;
  margin-left: auto;
  margin-right: auto;
}

#contact h1 {
  font-size: 3.5em;
  text-shadow: 2px 2px #5eafcc;
  text-align: center;
}


/* media queries */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
}}

@media screen and (max-width:750px) {

  .HM {
    font: #000000;
    display: none;
  }

  section.content {
    display: none;
  }

  section.mobile {
    text-align: center;
  }

  .space {
    display: none;
  }


  .mobile {
    display: initial;
  }

  div.center {
    text-align: center;
  }

  p.mobile {
    font-weight: bold;
    color: white;
  }

  footer {
    background-color: black;
  }

div#accordion {
  margin-left: auto;
  margin-right: auto;
  font-size: .4em;
  width: 90vw;
} 

blockquote {
  width: 80vw;
}

p.learnMore {
  font-size: 1em;
  width: 90vw;
}

div.panel-body {
  font-size: 2.1em;
}
}